<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- PortOne V2 SDK -->
    <script src="https://cdn.portone.io/v2/browser-sdk.js"></script>
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">

        let orderTotalPrice = 0;

        $(document).ready(function(){
            calculateOrderTotalPrice();
        });

        function calculateOrderTotalPrice() {
            orderTotalPrice = 0;

            $("tr[data-cart-item-id]").each(function () {
                var cartItemId = $(this).data("cart-item-id");

                var price = Number($("#price_" + cartItemId).data("price"));
                var count = Number($("#count_" + cartItemId).data("count"));

                if (!isNaN(price) && !isNaN(count)) {
                    orderTotalPrice += price * count;
                }
            });

            $("#orderTotalPrice").text(orderTotalPrice.toLocaleString() + "원");
        }

        // 결제 버튼 클릭
        async function orders(){

            if(orderTotalPrice <= 0){
                alert("결제 금액이 올바르지 않습니다.");
                return;
            }

            const buyerInfo = {
                email: "test@test.com",
                name: "백창인",
                tel: "010-1234-5678"
            };

            //1. 포트원 결제 요청
            const paymentResponse = await PortOne.requestPayment({
                storeId: "store-66c4aa8f-78f4-4233-8d5d-5887d514358e",
                channelKey: "channel-key-59bdace8-0fee-49a6-8983-8682db279056",
                paymentId: crypto.randomUUID(),
                orderName: "changin shop의 상품 결제",
                totalAmount: orderTotalPrice,
                currency: "KRW",
                payMethod: "CARD",
                customer: {
                    fullName: "백창인",
                    phoneNumber: "010-1234-5678",
                    email: "dain0126@naver.com"
                },
            });

            console.log(paymentResponse)

            if (paymentResponse.code) {
                alert("결제가 실패했습니다: " + paymentResponse.message);
                return;
            }

            //2. 서버로 결제 검증 + 주문 생성 요청
            requestOrder(paymentResponse.paymentId);
        }

        function requestOrder(paymentId){
            let token = $("meta[name='_csrf']").attr("content");
            let header = $("meta[name='_csrf_header']").attr("content");

            var lastCartItemId;
            var dataList = [];

            $("tr[data-cart-item-id]").each(function() {
                var cartItemId = $(this).data("cart-item-id");
                dataList.push({ cartItemId: cartItemId });
                lastCartItemId = cartItemId;
            });

            var paramData = {
                orderNumber: paymentId,
                cartItemId: lastCartItemId,
                cartOrderDtoList: dataList,
            };

            $.ajax({
                url: "/cart/orders",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(paramData),
                beforeSend: function(xhr){
                    xhr.setRequestHeader("X-CSRF-TOKEN", token);
                },
                success: function(){
                    console.log("=========success========")
                    location.href = "/order/complete";
                },
                error: function(jqXHR){
                    console.log("==========fail==========")
                    location.href = "/cart";
                }
            });
        }

    </script>
</th:block>

<th:block layout:fragment="css">
    <style>
        .content-mg{
            margin-left:25%;
            margin-right:25%;
            margin-top:2%;
            margin-bottom:100px;
        }
        .repImgDiv{
            margin-right:15px;
            margin-left:15px;
            height:auto;
        }
        .repImg{
            height:100px;
            width:100px;
        }
        .fs18{
            font-size:18px
        }
        .fs24{
            font-size:24px
        }
    </style>
</th:block>

<div layout:fragment="content" class="content-mg">

    <h2 class="mb-4">주문 목록</h2>

    <table class="table">
        <thead>
        <tr class="text-center">
            <td>상품정보</td>
            <td>개수</td>
            <td>상품금액</td>
        </tr>
        </thead>

        <tbody>
        <tr th:each="cartItem : ${cartItems}"
            th:data-cart-item-id="${cartItem.cartItemId}">

            <td class="d-flex">
                <div class="repImgDiv align-self-center">
                    <img th:src="${cartItem.imgUrl}" class="rounded repImg">
                </div>
                <div class="align-self-center">
                    <span th:text="${cartItem.itemNm}" class="fs24 font-weight-bold"></span>
                    <div class="fs18">
                        <span th:id="'price_' + ${cartItem.cartItemId}"
                              th:data-price="${cartItem.price}"
                              th:text="${cartItem.price} + '원'"></span>
                    </div>
                </div>
            </td>

            <td class="text-center">
                <span th:id="'count_' + ${cartItem.cartItemId}"
                      th:data-count="${cartItem.count}"
                      th:text="${cartItem.count} + '개'"></span>
            </td>

            <td class="text-center">
                <span th:text="${cartItem.price * cartItem.count} + '원'"></span>
            </td>
        </tr>
        </tbody>
    </table>

    <h2 class="text-center">
        총 주문 금액 :
        <span id="orderTotalPrice" class="text-danger">0원</span>
    </h2>

    <div class="text-center mt-3">
        <button type="button"
                class="btn btn-primary btn-lg"
                onclick="orders()">
            결제하기
        </button>
    </div>

</div>

</html>
